/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400"); */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* light theme  */
  --nav-bg: #af3838;
  --footer-bg: #fdd007;
  --footer-copy: #000000;
  --links-nav-footer: #fff;
  --nav-links-active: #fdd007;
  --headings: #fdd007;
  --para-color: #fff;
  --para-hover: #c19f06;
  --button-bg: #fdd007;
  --boxces-bg: #fdd007;

  /* dark theme */
  --nav-bg: #000000;
  --footer-bg: #fdd007;
  --footer-copy: #000000;
  --links-nav-footer: #fff;
  --nav-links-active: #fdd007;
  --headings: #fdd007;
  --para-color: #fff;
  --para-hover: #c19f06;
  --button-bg: #fdd007;
  --boxces-bg: #fdd007;

  --primary-10: #fdd007;
  --primary-20: #bc3908;
  --primary-30: #941b0c;
  --primary-40: #621708;
  --primary-50: #220901;

  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --primary-500: #bbaf08;
  --primary-600: #bb0808;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-0);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: rgb(20, 20, 20);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--para-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--headings);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.form {
  width: 100%;
  background-image: linear-gradient(to top, #fdd007, #fdd007);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
}
label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--nav-bg);
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: #b99c0e;
  border-color: transparent;
  border: 1px solid var(--grey-300);
}
.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--nav-bg);
}
.form-alert {
  color: var(--headings);
  font-size: var(--extraSmallText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
hr {
  border-top: var(--line);
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--nav-bg);
  background: var(--headings);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  font-weight: bold;
}

button:hover,
.btn:hover {
  color: var(--para-color);
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
}
button.small {
  padding: 0.25rem 0.5rem;
  font-size: var(--smallText);
}
button.hipster {
  color: var(--primary-500);
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
}
button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}
button.block {
  width: 100%;
}
/* Basic Classes */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-success {
  color: var(--green-dark);
  background-color: var(--green-light);
}
.alert-danger {
  color: var(--headings);
  background-color: var(--headings);
}
.container {
  padding: 5rem 0;
}
.container-center {
  width: 90vw;
  max-width: 96vw;
  margin: 0 auto;
}
.page {
  width: 90vw;
  max-width: 96vw;
  margin: 0 auto;
}
.page {
  min-height: calc(100vh - (6rem + 4rem));
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--headings);
  margin: 0 auto;
}
form > *:last-child {
  margin-bottom: 0;
}
/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid var(--para-color);
  border-top-color: var(--headings);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* form loading */

.form-loading {
  position: relative;
}
.form-loading::before {
  background: var(--para-color);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--borderRadius);
  opacity: 0.8;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.form-loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid var(--para-color);
  border-top-color: var(--headings);
  animation: spinner 0.6s linear infinite;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.active-link {
  color: var(--headings) !important;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--nav-bg);
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid gold;
}
.nav-center {
  width: 90vw;
  max-width: 96vw;
}
.nav-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 200px;
  margin-left: -6px;
  margin-bottom: -9px;
}
.nav-btn {
  padding: 0.15rem 0.75rem;
}
.nav-btn svg {
  font-size: 1.5rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 35.9375rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.show-links::-webkit-scrollbar {
  display: none;
}
.nav-link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  padding: 13px 0px;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}
.active-link {
  color: var(--nav-links-active);
}
.contact-link {
  display: flex;
  justify-content: center;
}
.contact-link a {
  padding: 0.15rem 1rem;
}
@media screen and (min-width: 999px) {
  .logo_nav {
    display: none !important;
  }
  .navbar {
    height: 4rem;
    background: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--headings);
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1.2rem;
    font-weight: 700;
    font-size: 1rem;
  }
  .contact-link {
    width: fit-content;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
  }
}
/*#########*/
/* Footer */
/*#########*/
.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--nav-bg);
  color: var(--para-color);
}
.page-footer h5 {
  margin-bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer span,
.page-footer a {
  color: var(--para-color);
}

/*#########*/
/* Error */
/*#########*/
.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
}
.error-page h1 {
  font-size: 9rem;
}

/*#########*/
/* Contact */
/*#########*/

.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
}
@media screen and (min-width: 992px) {
  .contact-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.mini_container {
  width: 90vw;
  margin: 0px auto;
}

/* slide line start */
section {
  padding: 30px 0;
  /* min-height: 100vh; */
}
.section_title_main {
  color: var(--headings);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px !important;
  margin-top: 25px !important;
}
.section-title {
  text-align: center;
  max-width: 720px;
  margin-bottom: 30px;
  margin-top: -6px;
  margin-left: auto;
  margin-right: auto;
}

.section-title p {
  max-width: 650px;
  margin: 0 auto;
}

.section-title .bar {
  height: 3px;
  width: 100px;
  background: var(--headings);
  margin: 4px auto 25px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.cat_h2 {
  color: var(--headings);
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}
.section-title .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: var(--para-color);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
    transform: translateX(85px);
  }
}

button {
  outline: 0 !important;
}
/* slide line end */

body {
  background-color: var(--nav-bg);
  background-image: url("../images/fullpage-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.cat {
  color: var(--headings);
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}
.new_head_style {
  margin-top: 20px;
  color: var(--headings);
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}

/* other bugs  */
.banner_img {
  width: 100%;
}

/* video css start  */
.video_box {
  width: 95vw;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 30px;
  margin-bottom: 2rem;
}
.video_wrapper {
  width: 90%;
  height: 60vh;
  position: relative;
  margin: 0px auto;
  margin: auto 0px;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.video_left {
  margin-bottom: 20px;
  margin: auto;
}
.video_img {
  height: auto;
}
@media only screen and (max-width: 900px) {
  .video_box {
    grid-template-columns: 1fr;
  }
  .video {
    height: 200px !important;
  }
  .video_wrapper {
    margin: 0px auto !important;
    height: 35vh;
  }
}
/* video css end  */

/* section new sec */

.section {
  padding: 2rem 0 5rem 0;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.about-title {
  text-align: left;
  margin-bottom: 2rem;
}
.about-title .underline {
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-img {
  justify-self: center;
}
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}
@media screen and (min-width: 992px) {
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--headings);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
  .about-img::before {
    left: -2rem;
  }
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    position: relative;
  }
  .about-img::before {
    left: -2rem;
  }
  .about-info {
    align-self: center;
  }
}
.new_sec_right {
  display: grid;
  direction: rtl;
}
.new_about_info {
  text-align: left !important;
}

@media screen and (max-width: 768px) {
  .section_title_main {
    font-size: 19px;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .home_top {
    text-align: left !important;
  }
  .new_head_style {
    font-size: 1.4em;
  }
  body p {
    font-size: 16px;
  }
}

.text_left {
  text-align: left;
}
.a_color {
  color: gold;
}
.video_img {
  box-shadow: 0 0 4px 4px #ecd113cc;
}

/* home css  */
